page {
  height: 100%;
  background: #F5F5F5;
}
.confirm{
  height:100vh;
}
.confirm-order{
  margin:20px;
  display: flex;
  flex-direction: column;
  font-family: PingFangSC-Regular, PingFang SC;
  /* 地址  */ 
  .address{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:40px;
    .address-left{
      display: flex;
      flex-direction: row;
      align-items: center;
      .address-left-icon{
        display: flex;
        align-items: center;
      }
    }
    .address-info{
      margin-left:40px;
      color: #AAAAAA;
      .city{
        color:#000000;
      }
      .address-details{
        font-size: 24px;
        color: rgba(0,0,0,0.85);
      }
    }
  }
  .goods-info{
    margin:20px 0;
    background-color: #ffffff;
    padding:40px;
    .card-title-goods{
      line-height: 40px;
    }
    .goods-info-head{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      .goods-info-head-left{
        display: flex;
        flex-direction: row;
        .goods-info-head-img{
          width: 128px;
          height: 128px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F2F2F2;
          border:1px solid #F2F2F2;
          // box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .1);
        }
        .goods-info-head-info{
          margin: 0 20px; 
          display: flex;
          flex-direction: column;
          .goods-info-head-info-title{
            line-height: 44px;
            letter-spacing: 0px;
            white-space:nowrap;        // 强制一行显示
            overflow:hidden;          // 超出隐藏
            text-overflow:ellipsis;   // 省略号
            width: 200rpx;
          }
          .goods-info-head-info-doc{
            margin:10px 0;
            font-size: 22px;
            color:#7F7F7F;
            .doc{
              margin-right: 10px;
            }
          }
        }

      }
      .goods-info-head-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content:space-between;
        .goods-info-head-right-price{
          line-height: 62px;
          text-align: right;
          letter-spacing: 0px;
        }
        .goods-info-head-right-num{
          line-height: 34px;
          text-align: right;
          letter-spacing: 0px;
          color: #AAAAAA;
        }
      }
    }
 
    .address-price{
      display: flex;
      justify-content:space-between;
      text-align: right;
      margin-top:30px;
      align-items: center;
      .address-price-right-icon{
        display:flex;
        align-items: center;
      }
    }
    
  }
  .amount-details{
    background-color: #ffffff;
    padding:40px;
      .address-price{
        display: flex;
        justify-content:space-between;
        text-align: right;
        margin-top:30px;
        align-items: center;
        .address-price-right{
          display:flex;
          align-items: center;
          .address-price-right-icon{
            display:flex;
            align-items: center;
          }
        }
      }
    }
  }
  /* 支付方式 */ 
  .pay{
    margin-top:20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
  }
  .card-list{
    display: flex;
    flex-direction: column;
    .card-list-item{
      margin-bottom:20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .card-list-item-left{
        display: flex;
        flex-direction: row;
      }
      .card-list-item-right{
        text-align: right;
        display:flex;
        align-items: center;
      }
    }
}
.footer{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: #ffffff;
  .footer-content{
    padding:0 20px;
    height:120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: bold;
    
  }
 
}
.footer-height{
  height:130px;
}

/* 弹出层 */
.popupInfo{
  margin:20px;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .popupInfo-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  .popupInfo-textArea{
    margin:40px 0;
    position: relative;
    .textArea-info{
      background-color: #F2F2F2;
    }
    .textArea-page{
      position: absolute;
      bottom: 20px;
      right: 20px;
      text-align: end;
      color: #7F7F7F;
    }
  }
  .popupInfo-button{
    width:100%;
    position: absolute;
    bottom:60px;
    left:0px;
    display: flex;
    justify-content: center;

  }

} 

// 领劵弹窗CSS
.couponBorderBox{
  margin: 20px 40px;
  .couponBorderBox-title{
    font-size: 36px;
    margin-bottom: 30px;
  }
  .custom-color {
    --checkbox-checked-icon-border-color: #ee0a24;
    --checkbox-checked-icon-background-color: #ee0a24;
   background-color: #ffffff;
   border-radius: 50%;
  } 
  .couponBorderBox-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 40px;
  }
}

