page {
  height: 100%;
  background: #F5F5F5;
}
.confirm{
  height:100vh;
}
.confirm-order{
  margin:20px 40px;
  display: flex;
  
  flex-direction: column;
  .goods-info{
    margin:20px 0;
    background-color: #ffffff;
    border-radius: 32px;
    padding:40px 52px;
    .card-title-goods{
      font-family: PingFangSC-Regular;
      font-size: 28px;
      font-weight: normal;
      line-height: 40px;
      letter-spacing: 0px;
    }
    .goods-info-head{
      margin:13px 0;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      .goods-info-head-left{
        display: flex;
        flex-direction: row;
        .goods-info-head-img{
          width: 164px;
          height: 216px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .1);
        }
        .goods-info-head-info{
          margin: 0 20px; 
          .goods-info-head-info-title{
            font-family: PingFangSC-Regular;
            font-size: 26px;
            font-weight: normal;
            line-height: 44px;
            letter-spacing: 0px;
            color: #333333;
          }
          .goods-info-head-info-doc{
            font-family: PingFangSC-Regular;
            font-size: 22px;
            font-weight: normal;
            line-height: 44px;
            letter-spacing: 0px;
            color: #999999;

          }
        }

      }
      .goods-info-head-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .goods-info-head-right-price{
          font-family: PingFangSC-Regular;
          font-size: 30px;
          font-weight: normal;
          line-height: 62px;
          text-align: right;
          letter-spacing: 0px;
          color: #4E55AF;
        }
        .goods-info-head-right-num{
          font-family: PingFangSC-Regular;
          font-size:16px;
          font-weight: normal;
          line-height: 34px;
          text-align: right;
          letter-spacing: 0px;
          color: #666666;
        }
      }
    }
    .address{
      margin:70px 0 44px 0;
      display: flex;
      flex-direction: row;
      .address-info{
        font-family: PingFangSC-Regular;
        font-size: 26px;
        font-weight: normal;
        line-height: 40px;
        letter-spacing: 0px;
        color: #997A40;
      }
    }
    .address-price{
      display: flex;
      justify-content: flex-end;
      font-family: PingFangSC-Regular;
      font-size: 30px;
      font-weight: normal;
      line-height: 48px;
      text-align: right;
      letter-spacing: 0px;
      color: #0D0F23;
    }
    
  }
  .amount-details{
    margin:20px 0;
    background-color: #ffffff;
    border-radius: 32px;
    padding:40px 52px;
  }
  .card-title{
    font-family: PingFangSC-Regular;
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
  }
  .card-list{
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    .card-list-item{
      height: 44px;
      margin:8px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .card-list-item-left{
        display: flex;
        flex-direction: row;
        font-family: PingFangSC-Regular;
        font-size: 30px;
        line-height: 44px;
        color: #A0A1B4;
        .card-list-item-left-title{
          margin-left:20px;
        }
      }
      .card-list-item-right{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        line-height: 48px;
        text-align: right;
        color: #0D0F23;
      }
      .card-list-item-right2{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        font-weight: normal;
        line-height: 48px;
        text-align: right;
        letter-spacing: 0px;
        color: #999999;
      }
    }
  }
}
.footer{
  position: fixed;
  bottom:0;
  left:0;
  display: flex;
  flex-direction: column;
  width:100%;
  height:354px;
  background-color: #ffffff;
  .footer-conter{
    margin:56px 40px;
    .footer-top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width:100%
    }
    .footer-top-btn{
      border-radius: 24px;
      background: #F7F7F7;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88px;
      width:100%;
      padding: 20px 76px;
      border:none;
    }
    .footer-bottom{
      width:100%;
      margin-top: 32px;
      height: 112px;
      border-radius: 24px;
      background: #A85230;
      font-family: PingFangSC-Medium;
      font-size: 25px;
      font-weight: normal;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
  }
}
.footer-height{
  height:354px;
}
