// index.scss
@import "@/assets/styles/custom_theme.scss";

.vertical {
  flex: 1;
  display: flex;
  flex-direction: row;

  .tabs {
    width: 188px;
    background-color: #fff;
    .normal {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
    }

    .active {
      background-color: #fff;
    }
  }

  .tabMes {
    flex: 1;
    background-color: #fff;
  }
}

.horizontal {
  .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 26px 50px 26px;
    // background-color: #fff;
    .normal {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      .tabsLine {
        background: $primary-color;
        width: 48px;
        height: 4px;
        margin-top: 4px;
        transform: scaleX(0);
        transition: all 0.15s;
      }

      .tabsLineActive {
        transform: scaleX(1) !important;
      }
    }

    .active {
      color:$primary-color;
      font-weight: bold;
    }
  }
}
