page {
  height: 100%;
  background: #F5F5F5;
}
.confirm{
  height:100vh;
}
.confirm-order{
  margin:20px;
  display: flex;
  flex-direction: column;
  font-family: PingFangSC-Regular, PingFang SC;
  /* 地址  */ 
  .address{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:40px;
    .address-left{
      display: flex;
      flex-direction: row;
      align-items: center;
      .address-left-icon{
        display: flex;
        align-items: center;
      }
    }
    .address-info{
      margin-left:40px;
      color: #AAAAAA;
      .city{
        color:#000000;
      }
      .address-details{
        font-size: 24px;
        color: rgba(0,0,0,0.85);
      }
    }
  }

  .goods-info{
    margin:20px 0;
    background-color: #ffffff;
    padding:40px;
    .card-title-goods{
      line-height: 40px;
    }
    .goods-info-head-top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      .goods-info-head-top-code{
        // font-size: 24px;
      }
      .goods-info-head-top-phone{
        color:#A05635;
      }
    }
    .goods-info-head{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      .goods-info-head-left{
        display: flex;
        flex-direction: row;
        .goods-info-head-img{
          width: 128px;
          height: 128px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F2F2F2;
          border:1px solid #F2F2F2;
          // box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .1);
        }
        .goods-info-head-info{
          margin: 0 20px; 
          display: flex;
          flex-direction: column;
          .goods-info-head-info-title{
            line-height: 44px;
            letter-spacing: 0px;
            white-space:nowrap;        // 强制一行显示
            overflow:hidden;          // 超出隐藏
            text-overflow:ellipsis;   // 省略号
            width: 200px;
          }
          .goods-info-head-info-doc{
            margin:10px 0;
            font-size: 22px;
            .doc{
              margin-right: 10px;
              color:#7F7F7F;
            }
            .doc-bg{
              background-color: #AAAAAA;
              color:#ffffff;
              padding:2px 4px;
            }
          }
          
        }

      }
      .goods-info-head-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content:space-between;
        .goods-info-head-right-price{
          line-height: 62px;
          text-align: right;
          letter-spacing: 0px;
        }
        .goods-info-head-right-num{
          line-height: 34px;
          text-align: right;
          letter-spacing: 0px;
          color: #AAAAAA;
        }
      }
    }
 
    .address-price{
      display: flex;
      justify-content:space-between;
      text-align: right;
      margin-top:30px;
      align-items: center;
      .red-text{
        color:#D9001B;
      }
      .address-price-right-icon{
        display:flex;
        align-items: center;
      }
    }
    
  }
  /* 售后按钮 */ 
  .after-sales{
    display:flex;
    justify-content: flex-end;

  }
  .amount-details{
    background-color: #ffffff;
    padding:10px 40px 40px 40px;
      .address-price{
        display: flex;
        // justify-content:space-between;
        // text-align: right;
        margin-top:30px;
        .address-price-right{
          display:flex;
          // align-items: center;
          margin-left:60px;
          color:#7F7F7F;
          white-space: nowrap;// 强制一行显示
          overflow: hidden; // 超出隐藏
          text-overflow: ellipsis; // 省略号
          .address-price-right-text{
            white-space: nowrap;// 强制一行显示
            overflow: hidden; // 超出隐藏
            text-overflow: ellipsis; // 省略号
            width:360px;
          }
        }
      }
    }
  }
  /* 支付方式 */ 
  .pay{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px 40px;
    color:#A05635;
  }
  .card-list{
    display: flex;
    flex-direction: column;
    .card-list-item{
      margin-bottom:20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .card-list-item-left{
        display: flex;
        flex-direction: row;
      }
      .card-list-item-right{
        // text-align: right;
        display:flex;
        align-items: center;
      }
    }
}
.footer{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: #ffffff;
  .footer-content{
    // margin-top: 10px;
    padding:0 20px;
    height:120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: bold;
  }
 
}
.footer-height{
  height:130px;
}

/* 弹出层 */
.popupInfo{
  margin:20px;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .popupInfo-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  .popupInfo-pay{
    margin-top:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
      .popupInfo-pay-num{
      color:#D9001B;
      margin:0 10px;
      }
  }
  .popupInfo-after{
    display: flex;
    flex-direction: row;
    align-items: center;
    .popupInfo-after-btn{
      margin:30px 30px 0 30px;
    }
  }
 
  .popupInfo-textArea{
    margin:40px 0;
    position: relative;
    .popupInfo-textArea-box{
      border:1px solid #D7D7D7;
      padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      .popupInfo-textArea-box-content{
        display: flex;
        justify-content: space-between;
        .popupInfo-textArea-box-content-left{
          margin-left:40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .popupInfo-textArea-box-content-left-title{
            line-height: 44px;
            letter-spacing: 0px;
            white-space:nowrap;        // 强制一行显示
            overflow:hidden;          // 超出隐藏
            text-overflow:ellipsis;   // 省略号
            width: 200px;
          }
          .popupInfo-textArea-box-content-left-doc{
            margin:10px 0;
            font-size: 22px;
            .doc{
              margin-right: 10px;
              color:#7F7F7F;
            }
            .doc-bg{
              background-color: #AAAAAA;
              color:#ffffff;
              padding:4px 8px;
            }
          }
        }
        
      }
    }
    .popupInfo-textArea-box-content-right{
      display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    .popupInfo-textArea-box-content-right-price{
      line-height: 62px;
      text-align: right;
      letter-spacing: 0px;
    }
    .popupInfo-textArea-box-content-right-num{
      line-height: 34px;
      text-align: right;
      letter-spacing: 0px;
      color: #AAAAAA;
    }

    }
    .popupInfo-textArea-title{
      margin-bottom: 20px;
    }
    .textArea-info{
      background-color: #F2F2F2;
    }
    .textArea-page{
      position: absolute;
      bottom: 20px;
      right: 20px;
      text-align: end;
      color: #7F7F7F;
    }
  }
  .popupInfo-button{
    width:100%;
    position: absolute;
    bottom:60px;
    left:0px;
    display: flex;
    justify-content: center;

  }

} 

// 确认界面
.order_pop{
  height: 50%;
  text-align: center;
  .pop_view{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .pop_title{
    font-weight: bold;
    margin:60px 0
  }

  .pop_img_view{
    position: relative;

    .pop_img_text{
      width:170px;
      height:40px;
      backdrop-filter: blur(10px);
      color: #fff;
      font-size: 20px;
      position: absolute;
      line-height: 20px;
      top:133px;
      bottom: 0;
      left: 1px;
      right: 0;
    }

    .pop_img{
      width:170px;
      height:170px;
      background:#dbdbdb;
      border:1px solid #F2F2F2;
      margin-bottom: 40px;
    }

  }

  .pop_text_view{
    width: 70%;
    font-size: 25px;
    margin-bottom: 60px;
  }
  
  .pop_btn{
    width: 70%;
  }
}