page {
  background: #f2f2f2;
}

.tabpane {
  background-color: #f2f2f2;
}

.nut-tabpane {
  padding: 0 !important;
}

.navbar-head{
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
  .navbar-head-left{
    display: flex; 
    width: 50%;
  }
  .navbar-head-right{
    width: 100%;
    font-size: 24px;
  }
}
.order {
  display: flex;
  flex-direction: column;

  .order-content {
    width: 100%;

    .order-item {
      padding: 30px;
      background-color: #ffffff;
      margin: 20px;
      border-radius: 20px;

      .order-item-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .order-item-middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // margin: 10px 0;

        .order-item-middle-left {
          display: flex;
          flex-direction: row;
          width: 80%;

          .order-item-middle-left-img {
            width: 160px;
            height: 160px;


            .order-img {
              width: 160px;
              height: 160px;
              border-radius: 20px;
              background-color: #F2F2F2;
              border: 1px solid #F2F2F2;
            }
          }

          .order-item-middle-left-name {
            margin-left: 20px;
            font-size: 28px;
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        }

        .order-item-middle-left-name-text, .order-item-middle-left-name-mes{
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 15px;
          font-size: 30px;
        }
        
        .order-item-middle-left-name-text{
          white-space: nowrap;
          font-weight: 600;
        }

        .order-item-middle-left-name-mes{
          height: 61px;
          color: #c9c8c8;
        }

        .order-item-middle-left-name-tag {
          color: #A85230;
          height: 35px;
          width: 90px;
          font-size: 23px;
          text-align: center;
          border: 1px solid #A85230;
          border-radius: 10px;
        }

        .order-item-middle-right {
          display: flex;
          flex-direction: column;

          .order-item-middle-right-num {
            font-size: 28px;
            display: flex;
            justify-content: flex-end;
          }
        }

      }

      .order-item-bottom {
        display: flex;
        justify-content: flex-end;

        .bottom-btn,
        .bottom-btn-pay {
          margin-left: 16px;

        }

        .bottom-btn-pay {
          width: 275px;
        }
      }
    }

  }

  .order_pop {
    height: 50%;
    text-align: center;

    .pop_view {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .pop_title {
      font-weight: bold;
      margin: 60px 0
    }

    .pop_img_view {
      position: relative;

      .pop_img_text {
        width: 170px;
        height: 40px;
        backdrop-filter: blur(10px);
        color: #fff;
        font-size: 20px;
        position: absolute;
        line-height: 20px;
        top: 133px;
        bottom: 0;
        left: 1px;
        right: 0;
      }

      .pop_img {
        width: 170px;
        height: 170px;
        background: #dbdbdb;
        border: 1px solid #F2F2F2;
        margin-bottom: 40px;
      }

    }

    .pop_text_view {
      width: 70%;
      font-size: 25px;
      margin-bottom: 60px;
    }

    .pop_btn {
      width: 70%;
    }
  }
}

.divider{
  margin: 20px 0;
  color: rgb(170, 170, 170);
}