page {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
// 清空
.cartBoxHeader{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
// 购物车列表
.cartBoxListBox{
  display: flex;
  flex-direction: row;
  padding: 30px 20px 30px 20px;
  align-items: center;
  .cartBoxListBox-state{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  .cartBoxListBox-right{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 58%;
    .cartBoxListBox-right-title{
      white-space: nowrap; // 强制一行显示
      overflow: hidden; // 超出隐藏
      text-overflow: ellipsis; // 省略号
    }
    .cartBoxListBox-right-state{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .inputNumberStyle{
        .nut-icon{
          border: 1px solid rgb(215, 215,215);
          padding: 0px 10px;
        }
        .nut-number-input{
          width: 20px !important;
          margin-left: 15px;
          margin-right: 15px;
          background: #ffffff;
        }
      }
    }
  }
}
// 页脚结算
.cartFooterBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 160px 40px;
  background-color: #ffffff;
  padding-top: 20px;
  .cartFooterBox-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
  }
}
// 空页面
.empty{
  height: 94vh;
}


