page {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
// 地址
.cartHeader{
  left: 1.1px;
  top: 1.08px;  
  margin: 20px 20px;
.cartHeaderMap{
  width: 25px;
  height: 30px;
  color: #231F20;
}
.cartHeaderText{
  margin-left: 10px;
  font-size: 30px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0px;
  color: #997A40;
}
}
// 商品信息
.swipeCell{
  margin: 10px 28px;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px 0px rgba(138, 149, 158, 0.08);
  .swipeCellBorder{
    border: 4px dashed #8A959E;
    display: flex;
    flex-direction: column;
    .cartCardText{
      font-family: PingFangSC-Regular;
      font-size: 34px;
      font-weight: normal;
      line-height: 20px;
      letter-spacing: 0px;
      color: #0D0F23;
    }
    .cartCard{
      display: flex;
      flex-direction: row;
      .cartCardLeft{
        width:183px;
        margin-top: 20px;
      }
      .cartCardRight{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .cartCardRightTitle{
          margin: 20px 10px 20px 10px;
          font-family: PingFangSC-Regular;
          font-weight: normal;
          line-height: 22px;
          letter-spacing: 0px;
          color: #A0A1B4;
        }
        .cartCardRightContent{
          margin: 10px 10px;
          font-family: PingFangSC-Regular;
          font-weight: normal;
          line-height: 17px;
          letter-spacing: 0px;
          color: #F6565D;
        }
        .cartCardRightPrice{
          margin: 15px 10px;
          font-family: PingFangSC-Regular;
          font-size: 18px;
          font-weight: normal;
          line-height: 31px;
          letter-spacing: 0px;
          color: #4E55AF;
        }
        .cartCardRightAdd{
          margin: 10px 10px;
          background: #FFFFFF;
          height: 32px;
        }
      }
    }
  }

}
.swipeButtonBorderLeft{
  border-top: 4px dashed #8A959E;
  border-bottom: 4px dashed #8A959E;
  background: #1677FF;
}
.swipeButtonBorderRight{
  border: 4px dashed #8A959E;
  background: #E02020;
}
// 结算
.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  .cartFooter{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 0 20px 180px 20px;
    background-color: rgb(255, 255,255);
    .cartFooterCard{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px 0;
    }
    .cartFooterCheck{
      font-family: PingFangSC-Regular;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0px;
      color: #A0A1B4;
    }
    .cartFooterText{
      font-family: PingFangSC-Regular;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0px;
      color: #A0A1B4;
    }
    .cartFooterButton{
      background: #A85230;
    }
  }
}
// 空页面
.empty{
  height: 94vh;
  font-size: 48px;
}

