page {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
// 地址
.cartHeader{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  .cartHeaderMap{
    width:35px;
    height:20px;
  }
  .cartHeaderText{
    color: rosybrown;
  }
}
// 商品信息
.cartCardWrap{
  width: 100%;
  height: 400px;

  .cartCardText{
    font-size: 40px;
    margin: 50px;
  }

  .cartCard{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    .cartCardLeft{
      width:200px;
      height:300px;
    }
    .cartCardRight{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .cartCardRightContent{
        margin: 20px 20px;
      }
    }
  }
}
.swipeCell{
  margin: 20px;
  .swipeCellBorder{
    border-top: 5px dashed rgba(128, 128, 128);
    border-right: 5px dashed rgba(128, 128, 128);
    border-bottom: 5px dashed rgba(128, 128, 128);
    border-left: 5px dashed rgba(128, 128, 128);
  }
}
.swipeButtonBorderLeft{
  border-top: 5px dashed rgba(128, 128, 128);
  border-bottom: 5px dashed rgba(128, 128, 128);
  // margin-left: -20px;
}
.swipeButtonBorderRight{
  border: 5px dashed rgba(128, 128, 128);
}
// 结算
.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
  .cartFooter{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px 40px 60px 40px;
    height: 200px;
    background-color: rgb(255, 255,255);
    .cartFooterCheck{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 40px;
    }
  }
}

