page {
  height: 100%;
  background: #F2F2F2;
}

.content {
  margin: 20px;

  .head {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 40px;
    width: 100%;
    height: 500px;

    .head-name {
      font-weight: bold;
      width: 100%;
      font-size: 30px;
    }

    .head-info {
      font-size: 24px;
      width: 100%;
      color: #B3B3B3;
      margin-top: 10px;
    }

    .head-sharing {
      background-color: #A05635;
      width: 100%;
      margin-top: 10px;
      font-size: 24px;
      padding: 10px 20px;
      color: #ffffff;
      height: 150px;

      .sharing-title {
        font-weight: bold;
        font-size: 28px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      .sharing-info {
        display: flex;
        margin-top: 20px;
        width: 100%;

        .info-item {
          line-height: 31px;
          display: flex;
          flex-direction: column;
          flex-shrink: 1;
          flex-basis: 0;
          flex: 1;
        }
      }
    }
  }

  .fans-body {
    .fansList-crown {
      border: 1px solid #D7D7D7;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      padding: 20px 40px;
      font-size: 24px;

      .joined {
        display: flex;
        align-items: center;

        .joined-icon {
          display: flex;
          flex-direction: column;
          margin: 0 0 0 10px;
        }
      }

      .screen {
        display: flex;
        align-items: center;

        .popover {
          .popover-menu-item-name {
            width: 120px;
            white-space: nowrap; // 强制一行显示
            overflow: hidden; // 超出隐藏
            text-overflow: ellipsis; // 省略号
          }
        }
      }
    }

  }
}

.fansList {
  margin: 0 0 20px 0;

  .fansList-info {
    border: 1px solid #D7D7D7;
    background-color: #ffffff;
    padding: 40px;

    .fansList-info-top {
      font-size: 24px;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .fansList-info-top-left {
        display: flex;

        .fansList-info-top-left-img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        .fansList-info-top-left-info {
          margin: 0 0 0 20px;
          display: flex;
          flex-direction: column;

          .name {
            font-weight: bold;
          }
        }
      }

      .fansList-info-top-mid {
        display: flex;
        flex-direction: column;
      }

      .fansList-info-top-right {
        .fansList-info-top-right-text {
          background-color: #A05635;
          color: #ffffff;
          padding: 2px 6px;
        }
      }
    }

    .fansList-info-mid {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 24px;

      .fansList-info-mid-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fansList-info-mid-item-title {
          color: #838383;
        }

        .fansList-info-mid-item-num {
          .num {
            font-weight: bold;
            font-size: 36px;
          }
        }
      }
    }

    .fansList-info-bottom {
      font-size: 26px;
      color: #B3B3B3;
      font-weight: 300;
    }

  }
}