page {
  height: 100%;
  background: #F5F5F5;
}

.order {
  display: flex;
  flex-direction: column;

  .order-content {
    .order-item {
      background-color: #fff;

      margin-top: 40px;
      padding: 20px 20px;

      .order-item-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 28px;
        margin-bottom: 30px;
      }

      .order-item-middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        .order-item-middle-left {
          display: flex;
          flex-direction: row;
          width: 80%;

          .order-item-middle-left-img {
            width: 160px;
            height: 160px;

            .order-img {
              width: 160px;
              height: 160px;
            }
          }

          .order-item-middle-left-name {
            margin-left: 20px;
            font-size: 28px;
            display: flex;
            flex-direction: column;
          }
        }

        .order-item-middle-left-name-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 15px;
        }

      }

      .order-item-bold {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 30px;
      }

      .order-item-bottom {
        display: flex;
        justify-content: flex-end;

      }
    }

  }
}