page {
  height: 100%;
  background: #F5F5F5;
}
.index{
  position:relative;
}
/* 首页顶部 */ 
.page-homes-header-image{
  width: 100%;
  height: 16vh;
  background-color: #A85230;
}

/* 首页顶部 */ 
.home-top{
  position: absolute;
  .home-top-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    .address{
      color:#ffffff;
      font-size: 26rpx;
      display: flex;
      flex-direction: row;
      align-items: center;
      width:80%;
      .homeAddressIcon{
        vertical-align: bottom;
      }
    }
    .search{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width:20%;
    }
  }
}

/* 首页轮播图 */
.home-banner{
  position: absolute;
  left: 20px; 
  right: 20px; 
  background-color: #D8D8D8;
  border-radius: 20px;
  .home-banner-content{
    display:flex;
    justify-content: center;
    .home-banner-content-img{
      width: 100%;
      height:100%;
    }
  }
}

/* 内容 */ 
.home-body{
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #F7F7F7;
  padding: 20px;

  /* 活动 */ 
  .nav{
    display: flex;
    flex-direction: column;
    .nav-activity{
     height:160px;
     width:100%;
     background-color: #D8D8D8;
     display:flex;
     align-items:center;
     justify-content: center;
    }
    .nav-content{
      margin:20px 0;
      height:500px;
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nav-escort-clan{
        background-color: #D8D8D8;
        width:48%;
        height:500px;
        display:flex;
        align-items:center;
        justify-content: center;
      }
      .nav-content-right{
        width:48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .nav-customize-now{
          height:240px;
          width:100%;
          background-color: #D8D8D8;
          display:flex;
          align-items:center;
          justify-content: center;

        }

        .nav-member-exclusive{
          height:240px;
          width:100%;
          background-color: #D8D8D8;
          display:flex;
          align-items:center;
          justify-content: center;

        }
      }
    }
    .nav-content-foot1{
      height:160px;
      width:100%;
      display:flex;
      flex-direction: row;
      justify-content:space-between;
     .nav-self-operated-zone{
      height:160px;
      background-color: #D8D8D8;
      width:48%;
      display:flex;
      align-items:center;
      justify-content: center;

     }
     .nav-self-operated-zone2{
      background-color: #D8D8D8;
        width:48%;
        display:flex;
        align-items:center;
        justify-content: center;
     }
    }
    .nav-content-foot2{
      margin-top:20px;
      height:200px;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: #D8D8D8;

    }
  }

  /* tabs 组件修改 */
  .tabs{
    padding:0;
    .tab-content {
    background-color:transparent;
    padding:0;
  }
  } 
  
  /* 商品列表 */ 
.list{
  margin:20px 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  .middle-search-result-info-item{
    width:48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .search-result-image{
      width:100%;
      height:340px;
      background-color: #D8D8D8;
      position: relative;
      .image{
        width:100%;
        height:340px !important;
      }
      .image-state{
         position: absolute;
         left:50%;
         top:50%;
         transform: translate(-50%,-50%);
         height:160px;
         width: 160px;
         background-color: #ffffff;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         border:1px solid #797979;
      }
    }
    
    .search-result-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height:100%;
      padding:20px;
      background-color: #ffffff;
      .search-result-content-head{
        font-size: 24px;
        text-overflow: -o-ellipsis-lastline;
	      overflow: hidden;				//溢出内容隐藏
	      text-overflow: ellipsis;		//文本溢出部分用省略号表示
	      display: -webkit-box;			//特别显示模式
	      -webkit-line-clamp: 2;			//行数
	      line-clamp: 2;					
	      -webkit-box-orient: vertical;	//盒子中内容竖直排列
        height:40px;
        .tag{
          background-color:#AAAAAA;
          color:#ffffff;
          border-radius: 4px;
          padding: 2px 8px;
        }
        .name{
          padding: 2px;
          background-color: #AAAAAA;
          color:#ffffff;
        }
        .title{
          margin-left:8px; 
          font-size: 26px; 
          font-weight: 400;
        }
      }
      .search-result-content-middle{
        font-size: 18px;
        margin:10px 0;
        height:20px;
        .activity{
          padding: 4px;
          color:#F65D3D;
          background-color: #F5F5F5;
        }
        .activity-price{
          padding: 4px;
          background-color:#F65D3D;
          color:#ffffff;

        }
      }
      .search-result-content-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // font-size: 30px;
        .lastPrice{
          color:#DA0A24;
        }
        .firstPrice{
          margin-left: 2px;
          font-size: 22px;
          color:#AAAAAA;
          text-decoration:line-through;
        }
        .searchCart{
          width:40px !important;
          height:40px !important;
        }
      }
    }

  }
}
/* ——页面到底了—— */ 
.pageEnd{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#7F7F7F;
  margin:20px;
  font-size:24px;
}
.tab-footer{
  height: 70px;
  padding-bottom:50rpx;
  padding-top:20rpx;
}
}
