page {
  height: 100%;
  background: #F5F5F5;
}

.index{
  position:relative;
}
.search-icon{
  position: absolute;
  top: 12rpx;
  left: 16rpx;
}
.page-homes-header-image{
  width: 100%;
  height: 100vh;
}
.address{
  position: absolute;
  top: 112rpx;
  left: 20rpx;
  color:#ffffff;
  font-size: 26rpx;
  display: flex;
  flex-direction: row;
}
.search{
  position: absolute;
  top: 180rpx;
  left: 20rpx;
  .page-homes-header-search-image{
    width:40px;
    height:40px;
  }
}
.search-input{
  width:360px;
  // height:34px;
  padding:10rpx 60rpx;
  border-radius: 34px;
  background-color: #ffffff;
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  line-height: 40rpx;
}
.qd{
  position: absolute;
  right: 150rpx;
  top: 188rpx;
  display:flex;
  flex-direction: row;
  align-items:center;
  .search-qd-icon{
    position: absolute;
    left: -24rpx;
    top: 2rpx;
    z-index: 9;
    .page-homes-header-search1-image{
      width:40px;
      height:40px;
    }

  }
  
  .qd-content{
    background-color: #F7A56C;
    color:#ffffff;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    line-height: 28px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    padding:10rpx;
  }
}
.listen{
  position: absolute;
  right: 20rpx;
  top: 188rpx;
  display:flex;
  flex-direction: row;
  align-items:center;
  .search2-image{
    width:40px;
      height:40px;
  }
}

.page-homes-body{
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 600px;
  width: 100%;
  height: 100%;
  border-radius: 36px 24px;
  opacity: 1;
  background: #F7F7F7;
  padding: 24px;
  .menu-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px 0 0;
    &:last-child{
      margin: 0px;
    }
    .page-grid-boxconatiner{
      display: flex;
      align-items: center;
      .box-conatiner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .page-grid-box{
          width: 108px;
          height: 108px;
          border-radius: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          .box{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .text{
        font-family: PingFangSC-Regular;
        font-size: 22px;
        font-weight: normal;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0px;
        color: #0D0F23;
        margin-top: 12px;
      }
    }
  }
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nav-item{
      margin-top:10px;
      width:702px;
     height:400px;
     background-color: #D8D8D8;
     border-radius:16px;
     display:flex;
     align-items:center;
     justify-content: center;
    }
    .page-homes-nav-image{
      width:290px;
      height:424px;
    }
    .nav-right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .page-homes-nav-right-image{
        width:392rpx;
        height:170rpx;

      }
    }
    .nav-right-bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .page-homes-nav-right-bottom-image{
        width:184px;
        height:198px;
    
      }
    }
  }

  .list{
    margin-top:20px;
    display:flex;
    flex-direction: row;
     .list1{
    margin-right:20px;
    .page-homes-list1-image{
      width:216px;
      height:98px;
    }
    
  }
  .list2{
    margin-right:20px;
    width: 242px;
    height: 112px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    align-items: center;
    .page-homes-list2-image{
      margin-left:20px;
      width:46px;
      height:70px;
    }
    .text{
      font-size: 26px;
      font-weight: normal;
      line-height: 32px;
      color:#A85230;
    }
  }
  .list3{
    width: 242px;
    height: 112px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    align-items: center;
    .page-homes-list2-image{
    margin-left:20px;

      width:46px;
      height:70px;
    }
    .text{
      font-size: 26px;
      font-weight: normal;
      line-height: 32px;
      color:#A85230;
    }
}
  }
 
.card{
    margin-top: 40px;
     display:flex;
     align-items: center;
     flex-direction: column;
  .card-items{
     position: relative;
     width:702px;
     height:400px;
     margin-bottom: 120rpx;
  
  .card-item {
    position: relative;
    background-color: #EFEFEF;
    border-radius: 16px;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    .page-homes-card-image{
      width: 660px;
      height: 496px;

    }
  }
  .card-content{
    width:702px;
    position: absolute;
    top:280px;
    height: 200px;
    width: '100%';
    background-color: #ffffff;
    // padding-left:30px;
    // padding-right:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    .card-head{
      margin-left: 30px;
      margin-right: 30px;
      white-space:nowrap;        // 强制一行显示
	    overflow:hidden;          // 超出隐藏
	    text-overflow:ellipsis;   // 省略号
      width: 90%;

    }
    .card-title{
      font-size: 28px;
      color: #A85230;
      margin-right:14px;
    }
    .card-text{
      font-size: 24px;
      color: #666666;
    }
    .card-price{
      font-size: 40px;
      line-height: 44px;
      color: #A85230;
    }
    .card-foot{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 30px;
    margin-right:30px;

    }
    .card-btn{
      width:194px;
      height:64px;
      background: #A85230;
      border-radius: 16px;
          display: flex;
    align-items: center;
    justify-content: center;
    }
    .card-btn-text{
      font-size: 26px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  }
}
.foot{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  .foot-items{
    padding:20px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .foot-item{
      width:302px;
      height:302px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .foot-price{
      position: absolute;
      top:0;
      right:0;
      width:104px;
      height:50px;
      border-top-right-radius:16px;
      border-bottom-left-radius:16px;
      background-color: #A85230;
      display:flex;
      align-items:center;
      justify-content: center;
    }
    .price{
      display:flex;
      align-items:center;
      justify-content: center;
    }
    .price-text{
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
    }
  }
  .foot-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    .foot-title{
      font-size: 30px;
      line-height: 48px;
      color: #0D0F23;
      white-space:nowrap;        // 强制一行显示
	    overflow:hidden;          // 超出隐藏
	    text-overflow:ellipsis;   // 省略号
      width: 200rpx;
    }
    .foot-text{
      font-size: 22px;
      line-height: 48px;
      color: #0D0F23;
      white-space:nowrap;        // 强制一行显示
	    overflow:hidden;          // 超出隐藏
	    text-overflow:ellipsis;   // 省略号
      width: 300rpx;
    }

  }
}
.tab-footer{
  height: 70px;
  padding-bottom:50rpx;
  padding-top:20rpx;
}
}
