page {
  height: 100%;
  background: #F5F5F5;
}
.tabPane{
  background-color:#f2f2f2;
}
.nut-tabpane{
  padding: 0 10px 0 10px !important;
}
.logisticsInfo{
  display: flex;
  flex-direction: column;
  .logisticsInfo-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #FFFFFF;
    padding:32px 40px;
      .logisticsInfo-img{
        width:112px;
        height:112px;
        margin-right: 20px;
      }
  }
  .logisticsInfo-cont{
    margin-top:34px;
    background: #FFFFFF;
  .logisticsInfo-content{
    padding:20px 40px;
    .logisticsInfo-content-head{
      font-size: 26px;
      font-weight: normal;
      line-height: 40px;
      letter-spacing: 0px;
      display: flex;
      flex-direction: row;
    }
    .logisticsInfo-content-middle{
      margin:20px 0;
      .title{
        display:flex;
        flex-direction: row;
        .state{
          font-family: PingFangSC-Medium;
          font-size: 26px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #666666;
        }
        .time{
          margin-left:16px;
          font-family: PingFangSC-Regular;
          font-size: 26px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #A0A1B4;
        }
      }
      .content{
        margin-bottom:20px;
      }
    }
  }
}
}
