page {
  height: 100%;
  background: #f7f8fa;
}
.all{
  .cate-list {
    display: flex;
    .left-nav {
      width: 22%;
      height: calc(100vh);
      overflow: scroll;
    }
    .cate-body {
      background-color: #fff;
      width: 78%;
      height: calc(100vh);
      overflow: scroll;
    }
  }
  // 右侧二级菜单
  .right{
    padding:0;
    margin:0;
    .right-title-box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .right-content{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .right-content-title{
        background: #965A3C;
        padding: 5px 6px;
        margin-bottom: 5px;
        width: 100%;
        color: #ffffff;
        font-size: 30px;
      }
      .right-content-box{
        display: flex;
        flex-direction: column;
        .right-content-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid #DCDCDC;
          height: 200px;
          .right-content-item-img{
            width: 40%;
            align-items: center;
            position: relative;
            width:200px;
            height:200px !important;
            background-color: #D8D8D8;
            .image-state{
              position: absolute;
              top: 20%;
              left: 20%;
              height: 120px;
              width: 120px;
              background-color: #ffffff;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
           }
          }

          .right-content-text-box{
            margin-left: 13px;
            width: 60%;
            height: 200px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            .right-content-text-header{
              font-size: 24px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4; /* 指定显示文本的行数 */
              overflow: hidden; /* 超出隐藏 */
            }
          }
        }
      }
    }

  }
  .two-tag{
    position: sticky;
    top: 0;
    padding: 10px 0 0 0;
    background-color: #ffffff;
    z-index: 99;
    width: 100%;
    .my-code{
      white-space:nowrap;        // 强制一行显示
      overflow:hidden;          // 超出隐藏
      text-overflow:ellipsis;   // 省略号
      // overflow-x: auto;
      .right-title{
        margin-left:10px;
        font-size:26px;
        font-weight: bold;
        margin-bottom:10px;
        padding: 5px 20px;
        border: 1px solid rgb(245, 245, 245);
      }
    }
  }
}


