page {
  height: 100%;
  background: #ffffff; 
}
.all{
  flex:1;
  display: flex;
  flex-direction: column;
  .all-left{
    width:20%;
    background-color: #F6F6F6;
  }
  .all-right{
    width:80%;
    background-color: #ffffff;
  }
  // 左侧一级菜单
  .left{
    // height: 100%;
    width:144px;
    .left-selected{
      width:6px;
      height:30px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      margin-right:8px;
    }
    .left-noselected{
      width:6px;
      height:30px;
      margin-right:8px;

    }
    .left-content{
      width:150px;
      height:110px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .left-content-selected{
     background-color: #ffffff;
    }
    .left-title{
      font-size: 24px;
    }
  }
  // 右侧二级菜单
  .right{
    padding:0;
    margin:0;
    .right-title-box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      .right-title{
        margin-left:10px;
        font-size:26px;
        font-weight: bold;
        margin-bottom:10px;
        padding: 5px 20px;
        border: 1px solid rgb(245, 245, 245);
      }
    }
    .right-content{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .right-content-title{
        background: rgb(245, 245, 245);
        padding: 5px 20px;
        margin-bottom: 15px;
        width: 100%;
      }
      .right-content-box{
        display: flex;
        flex-direction: column;
        .right-content-item{
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid rgb(170, 170, 170);
          box-shadow: 0px 16px 24px 0px rgba(138, 149, 158, 0.08);
          .rightImage{
            width: 196px;
            height: 196px;
          }
          .right-content-text-box{
            margin-left: 13px;
            .right-content-text-header{
              padding-top: 5px;
              font-size: 24px;
            }
            .right-content-text-tag{
              border: 2px solid red;
              width: 80px;
              justify-content: center;
              text-align: center;
              font-size: 18px;
              margin-top: 25px;
            }
            .right-content-text-footer{
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 10px;
            }
          }
        }
      }
    }






    // .right-contents{
    //   display:flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   height: 180px;
    //   margin-left: 10rpx;
    // }
    // .right-content-texts{
    //   text-overflow: -o-ellipsis-lastline;
	  //   overflow: hidden;				//溢出内容隐藏
	  //   text-overflow: ellipsis;		//文本溢出部分用省略号表示
	  //   display: -webkit-box;			//特别显示模式
	  //   -webkit-line-clamp: 2;			//行数
	  //   line-clamp: 2;					
	  //   -webkit-box-orient: vertical;	//盒子中内容竖直排列
    // }
    // .right-content-text{
    //   font-size: 28px;
    //   font-weight: bold;
    // }
    // .right-content-bottom{
    //   display:flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    // }
    // .right-content-price{
    //   color:#C3A769;
    //   font-size: 36px;
    //   font-weight: bold;
    // }
    // .right-content-price-icon{
    //   font-size: 28px;
    //   font-weight: bold;
    // }
    // .right-content-car{
    //   width:50px;
    //   height:50px;
    // }
  }

}

