page {
  width: 100%;
  background: #F5F5F5;
}
// 标题
.heads{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  padding:80rpx 20rpx 0rpx 20rpx;
  height:62px;
  background-color: #ffffff;
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    .titleText{
      font-family: PingFangSC-Medium;
      font-size: 36px;
      font-weight: normal;
      line-height: 31px;
      letter-spacing: 0px;
      color: #0D0F23;
    }
  }
  .detailIcon{
    display: flex;
    align-items: center;
  }
}

// 图片
.cardHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .cardHeaderImage{
    width: 568px;
    height: 568px;
  }
}
.cardImages{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .cardImagesItem{
    width: 64px;
    height: 64px;
    border-radius: 16px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-top: 12px;
  }
  .cardImagesTextBox{
    width: 120px;
    height: 48px;
    border-radius: 16px;
    background: #F7F7F7;
    margin-left: 12px;
    text-align: center;
    .cardImagesText{
      font-family: PingFangSC-Regular;
      font-size: 22px;
      font-weight: normal;
      line-height: 17px;
      letter-spacing: 0px;
      color: #A0A1B4;
    }
  }
}

// 文本
.contentTextOne{
  font-family: PingFangSC-Regular;
  font-size: 36px;
  font-weight: normal;
  line-height: 31px;
  letter-spacing: 0px;
  color: #0D0F23;
  margin-bottom: 28px;
}
.contentTextTwo{
  font-family: PingFangSC-Regular;
  font-size: 30px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0px;
  color: #0D0F23;
  margin-bottom: 28px;
}
.contentTextThrid{
  font-family: PingFangSC-Regular;
  font-size: 22px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0px;
  color: #997A40;
  display: flex;
  justify-content: space-between;
}
// 规格
.contentFooter{
  height: 128px;
  background: #F7F7F7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .contentFooterOne{
    font-family: PingFangSC-Regular;
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0D0F23;
    padding-right: 56px;
  }
  .contentFooterTwo{
    font-family: PingFangSC-Regular;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #666666;
  }
}
// 商品详情
.contentDetail{
  background: #ffffff;
  border-top-left-radius:40px ;
  border-top-right-radius:40px ;
  .contentDetailBox{
    padding-top: 64px;
    margin-left: 40px;
    margin-bottom: 64px;
    .contentDetailText{
      font-family: PingFangSC-Medium;
      font-size: 30px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0px;
      color: #0D0F23;
    }
  }
  .contentDetailImage{
    margin: 32px 40px 152px 40px;
    background: #D8D8D8;
    // padding-bottom: 40px;
  }
}


// 按钮
.contentButton{
  position: fixed;
  bottom: 0;
  left: 0;
  // box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  height: 192px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2222;
  .contentButtonOne{
    border-radius: 24px;
    background: #F7F7F7;
    margin-right: 20px;
    height: 112px;
    width: 112px;
  }
  .contentButtonTwo{
    width: 526px;
    height: 112px;
    border-radius: 24px;
    background: #A85230;
    font-family: PingFangSC-Medium;
    font-size: 25px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}
