page {
  height: 100%;
  background: #ffffff;
}
.head-photo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 1rpx solid #E6E8EA;
  padding: 0 40rpx;
  height:88rpx;
}
.head-tex{
  margin-left: 10rpx;
}
.head-text{
  font-size: 28rpx;
}
.avatar{
  display: flex;
}
.foot{
    color: #CBCBCB;
    margin:0 40rpx;
    font-size:28rpx;
}
.foot-btn{
  margin:40rpx;
}
.foot-btn-size{
  width: 60rpx; 
  height: 60rpx ;
  background-color: #fff,
}