page {
  height: 100%;
  background: #F5F5F5;
}

.strict-selection{

  .strict-selection-top{
    background-color: #A05635;
    height:30vh;
    width: 100%;
    position: relative;
    .strict-selection-top-content{
      position: absolute;
      left:40px;
      bottom:60px;
      color:#ffffff;
      .strict-selection-top-content-title{
        font-weight: bold;
        font-size: 38px;
      }
    }
  }
}
.strict-selection-body{
  height: 60vh;
  /* tabs 组件修改 */
  .tabs{
    padding:0;
    .tab-content {
    background-color:transparent;
    padding:0;
  }
 } 

}

/* 检测报告 */ 
.report{
  .steps-wrapper{
    width:100%;
    margin-left: 40px;
    .steps-wrapper-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 38px;
      .steps-wrapper-title-right{
        margin-left:4px;
        display:flex;
        flex-direction: column;
        font-size: 14px;
      }
    }
  }
}

/* 镖族严选 */ 
.traceability{
  .traceability-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    .traceability-top-left{
      width:80%;
      .scrollview{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        white-space: nowrap;
        padding:0 20px;
        .scrollview-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .tag{
            width: 100px !important;
          }
        }
      }
    }
    .traceability-top-right{
      width:20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-items: center;
      .popover{
        .popover-menu-item-name{
          width:100px;
          white-space:nowrap;        // 强制一行显示
          overflow:hidden;          // 超出隐藏
          text-overflow:ellipsis;   // 省略号
        }
      }
      .self-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:10px;
        width:100%;
        // height:140px;
        .self-content-item{
          margin-bottom: 20px;
          width:120px;
          height:40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  /* tab */ 
  .traceability-bottom{
    .tabs{
      padding:0;
      .tab-content {
        // background-color:#ffffff;
        background-color:transparent;
        padding:0;
      }

    }
    .classification{
      margin:10px 40px;
      .classification-content{
        margin-bottom:20px;
        .classification-content-title{
          margin-left:6px;
          font-size: 26px;
          margin-bottom:10px;
        }
        .classification-content-banner{
          margin:0 6px 20px 6px;
        }
        .classification-content-goods{
           display:flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: center;
           width:100%;
          .middle-search-result-info-item{
            width:100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .nut-icon__img{
              background-color: #D8D8D8;
            }
            .nut-grid-item__content{
              padding:0;
            }
            .nut-grid-item__text {
              margin:0;
            }
            .nut-grid-item__content--center{
              display:block
            }
            .search-result-image{
              width:100%;
              height:150px;
              background-color: #D8D8D8;
              position: relative;
              .image{
                width:100%;
                height:150px !important;
              }
            }
            .search-result-content{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height:100%;
              padding:0 10px 10px 10px;
              // background-color: #ffffff;
              .search-result-content-head{
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;				//溢出内容隐藏
                text-overflow: ellipsis;		//文本溢出部分用省略号表示
                display: -webkit-box;			//特别显示模式
                -webkit-line-clamp: 1;			//行数
                line-clamp: 1;					
                -webkit-box-orient: vertical;	//盒子中内容竖直排列
                .title{
                  font-size: 20px; 
                  font-weight: 400;
                }
              }
              .search-result-content-bottom{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 20px;
                .lastPrice{
                  color:#DA0A24;
                }
                .firstPrice{
                  margin-left: 2px;
                  font-size: 14px;
                  color:#AAAAAA;
                  text-decoration:line-through;
                }
              }
            }
        
          }
       /* ——页面到底了—— */ 
      .pageEnd{
        display: flex;
        align-items: center;
        justify-content: center;
        color:#7F7F7F;
        margin:20px;
        font-size:24px;
      }

        }

      }
      
    }
  }
}

/* 底部 */ 
.tab-footer{
  height: 70px;
  padding-bottom:50rpx;
  padding-top:20rpx;
}