// 领劵弹窗CSS
.couponBorderBox{
  margin: 40px 40px;
  .couponBorderBox-list{
    height: 180px;
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
    .couponBorderBox-list-left{
      width: 30%;
      height: 100%;
      border-right: 1px solid #d7d7d7;
      border-radius: 20px;
      font-family: "Arial Normal", Arial, sans-serif;
      .couponBorderBox-list-left-box{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .couponBorderBox-list-right{
      margin: 20px 30px;
      width: 70%;
     .couponBorderBox-list-right-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .couponBorderBox-list-right-content-text{
        color: #aaaaaa;
      }
     }
     .couponBorderBox-list-right-timeRange{
      font-family: "微软雅黑", sans-serif;
      font-weight: 300;
      font-size: 30px;
      color: rgb(0, 0, 0)
    }
    }
    .coupon-state{
      position: absolute;
      top: 15%;
      left: 78%;
      height: 120px;
      width: 120px;
      background-color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d7d7d7;
    }
  }
}