page {
  height: 100%;
  background: #ffffff;
}
.address{
  margin:0 17rpx;
  height:100vh;
  background-color: rgba(216,216,216,0.16);
  .address-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:21rpx 26rpx;
    .address-item-left{
      display: flex;
      flex-direction: row;
      align-items: center;
      .address-item-left-avatar-text{
        font-size: 31rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 42rpx;
      }
      .address-item-left-info{
        display: flex;
        flex-direction: column;
        margin-left:28rpx;
       .address-item-left-info-top{
        display: flex;
        flex-direction: row;
        font-size: 27rpx;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(0,0,0,0.85);
        line-height: 38rpx;
        .address-item-left-info-top-mr{
          padding: 0 23rpx;
          background: #B08B57;
          border-radius: 32rpx;
          .address-item-left-info-top-mr-text{
            font-size: 23rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 33rpx;
          }
        }
       }
       .address-item-left-info-bottom{
        font-size: 23rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0,0,0,0.85);
        line-height: 33rpx;
       }
      }
    }
    .address-item-right{

    }


  }
}
.add-address{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height:127rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  .add-address-btn{
    padding:13rpx 92rpx;
    .add-address-btn-text{
      font-size: 27rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 38rpx;
     }

  }
 
}