.couponBorderBox-list{
  height: 170px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  color: #ffffff;
  background-size: 100% 100%;
  background-image: url("https://storage.360buyimg.com/jdcdkh/open/1.0.0/assets/bg-coupon-red.f6ae2e19.png");
  .couponBorderBox-list-left{
    width: 25%;
    height: 100%;
    border-radius: 20px;
    font-family: "Arial Normal", Arial, sans-serif;
    margin-left: 10px;
    .couponBorderBox-list-left-box{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .couponBorderBox-list-right{
    margin: 20px 0px 20px 10px;
    width: 38%;
    .couponBorderBox-list-right-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .couponBorderBox-list-right-content-text{
        color: #ffffff;
        font-size: 24px;
      }
    }
    .couponBorderBox-list-right-timeRange{
      font-family: "微软雅黑", sans-serif;
      font-weight: 400;
      font-size: 30px;
      color: #ffffff;
      margin-top: 5px;
      white-space:nowrap;        // 强制一行显示
      overflow:hidden;          // 超出隐藏
      text-overflow:ellipsis;   // 省略号
    }
  }
  .couponBorderBox-list-renderButton{
    margin-left: 20px;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}