// $primary-color: #685EA3;;
// $primary-color-end: #685EA3;

$primary-color: #A05635;
;
$primary-color-end: #A05635;

// taro 组件使用
$lg-font-size-sm: 25px;
$lg-font-size-md: 28px;
$lg-font-size-lg: 31px;
$lg-font-size-slg: 34px;

// 第三方组件使用 组件使用
$sm-font-size-sm: 13px;
$sm-font-size-md: 15px;
$sm-font-size-lg: 17px;
$sm-font-size-slg: 19px;


$validate-message-tip-color: #A05635;
$validate-message-waning-color: #e2e453;
$validate-message-error-color: #f31212;

// 白文本样式
$text-font-size: 14PX;
$text-font-color: #8c8c8c;

$line-spacing: 10PX;
