.commentBorderBox{
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  padding: 40px 40px;
  background-color: #ffffff;
  border: 1px solid red;
  .commentBorderBox-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    .commentBorderBox-header-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      .commentBorderBox-header-image{
        width: 50px;
        height: 50px;
        background-color: #aaaaaa;
      }
      .commentBorderBox-header-text{
        padding-left: 20px;
      }
    }
    .commentBorderBox-header-title{
      color: #aaaaaa;
      .commentBorderBox-header-title1{
        padding-right: 20px;
      }
    }
  }
  .commentBorderBox-content{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;				//溢出内容隐藏
    text-overflow: ellipsis;		//文本溢出部分用省略号表示
    display: -webkit-box;			//特别显示模式
    -webkit-line-clamp: 3;			//行数
    line-clamp: 2;					
    -webkit-box-orient: vertical;	//盒子中内容竖直排列
    margin-top: 20px;
  }
  .commentBorderBox-ImageBox{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border: 1px solid red;
    flex-wrap: wrap;
    justify-content: space-between;
    .commentBorderBox-ImageItem{
      width: 200px;
      height: 200px;
      width: calc(33.33% - 15px);
      background-color: #aaaaaa;
      margin-right: 15px;
      margin-bottom: 15px;
      
    }
  }
}